/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-orc-testimonials {
  border: 1px solid black;
  color: black;
  background: white;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
  text-align: center;
}
