/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-orc-staff  {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	.staff {
		z-index: 2;
		margin: 1em;
		padding: 1em;
		text-align: center;
		border: 1px solid #ccc;
		border-radius: 10px;
		transition: all 0.25s;
		max-width: 100vw;

		h3 {
			margin: 0.6rem auto 1.3rem;
			font-size: 2.5rem;
		}

		img {
			width: 150px;
			margin: 0 auto;
		}

		.position {
			font-size: 1.5rem;
			line-height: 1.25;
			padding: 10px;
		}

		.qualifications {
			font-size: 1.5rem;
		}

		input[type=button] {
			font-size: 1rem;
			background: #ccc;
			margin: 0.4rem auto 1rem;
			padding: 0.5em 1em;
			color: black;
			border-radius: 10px;
			transition: all 0.25s;
		}

		input[type=button]:hover {
			box-shadow: inset 0 0 10px 2px #888;
			font-size: 0.95rem;
		}

	}

	.staff:hover {
		position: relative;
		cursor: pointer;
		box-shadow: inset 0 0 10px 5px #888;
		border: 1px solid rgba(128, 128, 128, 0.1) !important;
	}

	@media screen and (min-width: 783px) {
		.staff {
			max-width: 315px;
		}
	}
}
